* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.card-container {
	background-color: #231e39;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
	color: #b2b7cd;
	padding: 30px 0;
	position: relative;
	width: 250px;
	max-width: 100%;
	text-align: center;
	margin: 20px 10px;
}
.con-data {
	margin: 5px 0;
}

.card-container .round {
	border: 1px solid #03bfcb;
	border-radius: 50%;
	margin: 10px 0;
	padding: 7px;
}

button.primary {
	background-color: #03bfcb;
	border: 1px solid #03bfcb;
	border-radius: 3px;
	color: #231e39;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
}

button.primary.ghost {
	background-color: transparent;
	color: #02899c;
}
