.home {
	text-align: center;
}

.home h1 {
	color: white;
}

button {
	padding: 7px;
	margin: 5px;

	color: black;
	background-color: white;
}

button:hover {
	background-color: black;
	color: white;
}
